/* .App {
  text-align: center;
} */

.App-logo {
  animation: App-logo-spin infinite 1s linear;
}
.sope{
  animation: bounce infinite .75s linear;
}
.sope:hover{
  cursor: pointer;
}

/* .App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
} */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} 
@keyframes bounce {
  0%, 100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}